body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1.3em;
    height:100%;
    background-color: rgb(220, 239, 227);
}

#area{
    margin: 9% 6% 9% 6%;
    padding:10%;
    border-radius: 2%;
    background-color: rgb(202, 218, 208);
    height:360px;
}

#botoes{
    margin: 0% 5% 0% 5%;
    height:40%;
}

img{
    background-color: #37479a;
    width: 100%;
    height: auto;
    border-radius: 8px;
}